:root {
  --font-pacifico: "Pacifico", cursive;
  --font-poppins: "Poppins", "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --primary-light: #F2F7FC;
  --primary-main: #F2F5F9;
  --primary-accent: #E1E8EF;
  --primary-paper: #FFFFFF;
  --primary-background: rgb(242 245 249 / 30%);
  --primary-paleText: rgb(23 23 23 / 80%);
  --contrastText: black;
  --default: rgb(242, 245, 249);
  --placeholder: #eeeeee;
  --textfield-base: rgba(0, 0, 0, 0.42);
  --textfield-hover: rgba(0, 0, 0, 0.87);
  --primary-galery: rgb(255, 244, 229);
  --primary-pinkBox: #FFEBD1;
  --primary-blueBox: #F2F7FC;
  --primary-card: rgb(255, 255, 255);
  --primary-row-open: #FFEBD1;
  --secondary-light: #FFEBD1;
  --secondary-main: #FF9C1B;
  --secondary-dark: #EC1B09;
  --secondary-gradient: linear-gradient(180deg, #FF9C1A 0%, #ED250A 100%);
  --secondary-gradientBG: linear-gradient(127deg, #FF9C1A 0%, #E80505 100%);
  --secondary-gradientIcon: linear-gradient(180deg, #FF9A1A 0%, #EC1C09 100%);
  --secondary-contrastText: #F2F7FC;
  --secondary-contrastTextActive: #FFFFFF;
  --secondary-contrastTextInactive: rgba(26, 16, 3, 0.5);
  --textBox: #000000;
  --warning-light: #ffdfba;
  --warning-main: #ffa64c;
  --warning-dark: #dd5831;
  --error-light: #ffebee;
  --error-main: #f44336;
  --error-dark: #d32f2f;
  --success-light: #e8f5e9;
  --success-main: #4caf50;
  --success-dark: #388e3c;
  --h1-max: 24;
  --h2-max: 40;
  --h3-max: 32;
  --h4-max: 28;
  --h5-max: 24;
  --h6-max: 20;
  --subtitle1-max: 28;
  --subtitle2-max: 16;
  --body1-max: 14;
  --body2-max: 16;
  --body3-max: 14;
  --h1-min: 16;
  --h2-min: 28;
  --h3-min: 24;
  --h4-min: 28;
  --h5-min: 18;
  --h6-min: 14;
  --subtitle1-min: 16;
  --subtitle2-min: 14;
  --body1-min: 14;
  --body2-min: 14;
  --body3-min: 14;
  --box-shadow-1: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  --box-shadow-3: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  --box-shadow-4: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

:root body.dark {
  --primary-light: #232323;
  --primary-main: #232323;
  --primary-accent: #333333;
  --primary-paper: #444444;
  --primary-background: rgb(35 35 35 / 30%);
  --primary-paleText: rgb(255 255 255 / 80%);
  --contrastText: #e1e3e6;
  --default: rgb(35, 35, 35);
  --placeholder: #eeeeee;
  --textfield-base: rgba(255, 255, 255, 0.7);
  --textfield-hover: rgba(255, 255, 255, 0.87);
  --primary-galery: rgb(35, 35, 35);
  --primary-pinkBox: #232323;
  --primary-blueBox: #232323;
  --primary-card: rgb(18, 18, 18);
  --primary-row-open: #444444;
}

.project-card__container {
  box-shadow: none;
  background-color: var(--primary-paper);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  overflow: hidden;
  background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}
@media only screen and (min-width: 600px) {
  .project-card__container {
    box-shadow: var(--box-shadow-3);
  }
}
.project-card__container .project-card__header {
  display: flex;
  align-items: center;
  padding: 0;
  padding-bottom: 16px;
}
@media only screen and (min-width: 600px) {
  .project-card__container .project-card__header {
    padding: 16px;
  }
}
.project-card__container .project-card__avatar-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
  margin-right: 16px;
}
.project-card__container .project-card__title {
  font-size: 16px;
  line-height: 20px;
}
@media only screen and (min-width: 600px) {
  .project-card__container .project-card__title {
    font-size: 20px;
    line-height: 30px;
  }
}
.project-card__container .project-card__subtitle {
  opacity: 0.8;
  line-height: 30px;
}
.project-card__container .project-card__image-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
}
.project-card__container .project-card__content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 0;
  padding-bottom: 16px;
}
@media only screen and (min-width: 600px) {
  .project-card__container .project-card__content-wrapper {
    padding: 16px;
  }
}
.project-card__container .project-card__content-title {
  font-weight: 500;
  line-height: 1.334;
  margin: 10px 0;
}
.project-card__container .project-card__warning {
  color: black;
  background-color: var(--warning-light);
  margin-bottom: 10px;
}
.project-card__container .project-card__card-actions {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  padding-bottom: 16px;
}
@media only screen and (min-width: 600px) {
  .project-card__container .project-card__card-actions {
    padding: 16px;
  }
}
.project-card__container .project-card__action-link {
  text-transform: uppercase;
  color: var(--secondary-dark);
}
.project-card__container .project-card__icon-button {
  margin-left: auto;
  transform: rotate(0deg);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.project-card__container .project-card__icon-button.is_expanded {
  transform: rotate(180deg);
}
.project-card__container .project-card__icon {
  fill: var(--secondary-dark);
}
.project-card__container .project-more__subtitle {
  margin-bottom: 20px;
  font-size: 20px;
}

.collapsible-table__table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}
.collapsible-table__table .collapsible-table__summary-row.is_open {
  background-color: var(--primary-row-open);
}
.collapsible-table__table .collapsible-table__summary-row.is_open > * {
  border-bottom: unset;
}
.collapsible-table__table .collapsible-table__summary-row.is_open .collapsible-table__heading {
  opacity: 1;
}
.collapsible-table__table .collapsible-table__summary-row.is_open .collapsible-table__more-button {
  transform: rotate(180deg);
  opacity: 1;
}
.collapsible-table__table .collapsible-table__heading {
  padding: 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  opacity: 0.87;
  border-bottom: 1px solid rgb(224, 224, 224);
  text-align: left;
}
@media only screen and (min-width: 600px) {
  .collapsible-table__table .collapsible-table__heading {
    font-size: 20px;
    line-height: 30px;
  }
}
.collapsible-table__table .collapsible-table__title {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .collapsible-table__table .collapsible-table__title {
    width: 70%;
  }
}
.collapsible-table__table .collapsible-table__extra {
  width: 20%;
  font-size: 16px;
  display: none;
}
@media only screen and (min-width: 600px) {
  .collapsible-table__table .collapsible-table__extra {
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 600px) {
  .collapsible-table__table .collapsible-table__extra {
    display: table-cell;
  }
}
.collapsible-table__table .collapsible-table__heading-link {
  font-weight: 400;
  text-decoration: underline;
  font-size: 12px;
  line-height: 20px;
  margin-left: 10px;
}
@media only screen and (min-width: 900px) {
  .collapsible-table__table .collapsible-table__heading-link {
    font-size: 16px;
    line-height: 30px;
  }
}
.collapsible-table__table .collapsible-table__more-button {
  transform: rotate(0deg);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: var(--contrastText);
  opacity: 0.55;
}
.collapsible-table__table .simple-table__table.simple-table__collapsible .simple-table__row {
  border-bottom: 1px solid rgb(224, 224, 224);
  background-color: unset;
  display: flex;
  flex-direction: column;
}
.collapsible-table__table .simple-table__table.simple-table__collapsible .simple-table__row:nth-of-type(even) {
  background-color: var(--primary-light);
}
@media only screen and (min-width: 600px) {
  .collapsible-table__table .simple-table__table.simple-table__collapsible .simple-table__row {
    display: table-row;
  }
}
.collapsible-table__table .simple-table__table.simple-table__collapsible .simple-table__td {
  padding: 6px 16px;
}
.collapsible-table__table .simple-table__table.simple-table__collapsible .td_library,
.collapsible-table__table .simple-table__table.simple-table__collapsible .td_link {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .collapsible-table__table .simple-table__table.simple-table__collapsible .td_library,
  .collapsible-table__table .simple-table__table.simple-table__collapsible .td_link {
    width: 30%;
  }
}
.collapsible-table__table .simple-table__table.simple-table__collapsible .simple-table__link {
  text-decoration: underline;
}

.simple-table__table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  font-weight: 500;
}
.simple-table__table .simple-table__row:nth-of-type(odd) {
  background-color: var(--primary-light);
}
.simple-table__table .simple-table__td {
  font-size: 12px;
  line-height: 20px;
  padding: 16px;
}
@media only screen and (min-width: 900px) {
  .simple-table__table .simple-table__td {
    font-size: 16px;
    line-height: 30px;
  }
}/*# sourceMappingURL=Project.css.map */