@import '../styles/variables';
@import '../styles/mixins';

.resume-section__info-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 25px;

  @include media($md) {
    gap: 60px;
  }
}

.resume-section__education-block {
  display: flex;
  flex-direction: column;

  .resume-section__resume-item {
    background-color: var(--primary-pinkBox);
  }
}

.resume-section__block-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  @include media($md) {
    margin-bottom: 30px;
  }
}

.resume-section__block-subtitle {
  margin-left: 10px;
  line-height: 1.75;
}

.resume-section__block-body {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.resume-section__resume-item {
  width: 100%;
  max-width: 290px;
  min-height: 90px;
  padding: 10px;
  background-color: var(--primary-blueBox);
  border-radius: 8px;

  .resume-section__item-date {
    opacity: 0.9;
  }

  .resume-section__item-techs {
    margin-top: 10px;
    font-style: italic;
  }

  .resume-section__item-link {
    text-decoration: underline;
  }

  .resume-section__item-cta {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 0px;
  }

  .resume-section__item-cta-link {
    margin: 0px;
    text-decoration: underline var(--primary-background);
    color: var(--secondary-dark);
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      text-decoration-color: inherit;
    }
  }
}

.resume-section__download-block {
  display: flex;
  justify-content: flex-start;
}

.resume-section__skills-block {
  @extend .resume-section__info-block;
  margin: 10px -50px -30px -70px;
  padding: 0 50px 30px 70px;
  background-color: var(--primary-background);

  .resume-section__skills-subtitle {
    line-height: 1.75;
  }

  .resume-section__skills-link {
    text-decoration: underline;
  }

  .resume-section__work-skills {
    display: flex;
    flex-direction: column;
  }

  .resume-section__skills-wrapper {
    @extend .resume-section__info-block;
    gap: 15px;
    justify-content: flex-start;
    width: 100%;
    max-width: 290px;
  }

  .resume-section__skills-item {
    display: inline-block;
    padding: 8px;
    background-color: var(--primary-accent);
    border-radius: 8px;
  }
}