.MyTypography {
  &.h1-variant {
    font-family: var(--font-roboto), sans-serif;
    font-size: var(--h1-min);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
  }

  &.h2-variant {
    font-family: var(--font-roboto), sans-serif;
    font-size: var(--h2-min);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 100%;
  }

  &.h3-variant {
    font-family: var(--font-roboto), sans-serif;
    font-size: var(--h3-min);
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 125%;
  }

  &.h4-variant {
    font-family: var(--font-raleway), sans-serif;
    font-size: var(--h4-min);
    font-weight: 400;
    line-height: 125%;
  }

  &.h5-variant {
    font-family: var(--font-roboto), sans-serif;
    font-size: var(--h5-min);
    font-weight: 500;
    line-height: 83%;
  }

  &.h6-variant {
    font-family: var(--font-raleway), sans-serif;
    font-size: var(--h6-min);
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 200%;
  }

  &.subtitle1-variant {
    font-family: var(--font-roboto), sans-serif;
    font-size: var(--subtitle1-min);
    line-height: 120%;
    font-weight: 500;
    letter-spacing: 0.693px;
  }

  &.subtitle2-variant {
    font-family: var(--font-roboto), sans-serif;
    font-size: var(--subtitle2-min);
    line-height: 120%;
    font-weight: 500;
    letter-spacing: 0.693px;
  }

  &.body1-variant {
    font-family: var(--font-raleway), sans-serif;
    font-size: 14px;
    line-height: 142%;
    font-weight: 400;
    letter-spacing: 0.35px;
  }

  &.body2-variant {
    font-family: var(--font-raleway), sans-serif;
    font-size: 16px;
    line-height: 187%;
    font-weight: 400;
  }

  &.body3-variant {
    font-family: var(--font-raleway), sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  &.MyAlignText-left {
    text-align: left;
  }

  &.MyAlignText-right {
    text-align: right;
  }

  &.MyAlignText-center {
    text-align: center;
  }

  &.MyAlignText-justify {
    text-align: justify;
  }

  &.MyTypography-button {
    font-family: var(--font-raleway), sans-serif !important;
    font-size: 12px;
    font-weight: 400;
    text-transform: initial;
    line-height: 1.75;
  }

  &.MyTypography-tab-btn {
    font-family: var(--font-roboto), sans-serif !important;
    font-size: 16px;
    font-weight: 500;
    text-transform: initial;
    line-height: normal;
  }
}