$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;

:root {
  --body: #1A2056;
  --contrastText: #FFF;
  --dark-blue: #0F103F;
  --navbar-bg: #a8a7c0;
  --navbar-active-bg: #767a9a;
  

  --h1-min: 16;
  --h2-min: 28;
  --h3-min: 24;
  --h4-min: 28;
  --h5-min: 18;
  --h6-min: 14;
  --subtitle1-min: 16;
  --subtitle2-min: 14;
  --body1-min: 14;
  --body2-min: 14;
  --body3-min: 14;
}
