@import 'variables';
@import 'mixins';

.home-page {
  .home-page__landing {
    height: calc(100vh - 50px);
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .home-page__top-left-svg {
    position: absolute;
    top: 18px;
    left: 18px;
  }

  .home-page__top-right-svg {
    position: absolute;
    top: 0;
    right: 0;
  }

  .home-page__bot-right-svg {
    position: absolute;
    bottom: 0;
    right: -16px;
  }

  .home-page__home-title {
    text-wrap: wrap;
    text-align: left;
    text-transform: capitalize;
    padding-left: 16px;
  }

  .page-container__links {
    display: flex;
    gap: 10px;
    margin: 50px 0;
  }

  .page-container__link {
    display: flex;
    height: 30px;
    padding: 5px 20px 5px 10px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.70);
    background: linear-gradient(96deg, rgba(87, 25, 218, 0.30) 27.71%, rgba(156, 74, 148, 0.25) 68.54%, rgba(176, 118, 126, 0.30) 92.47%);
  
    svg {
      width: 18px;
      height: 18px;
    }
  }
}


.page-container__content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-container__title-block {
  position: relative;
  margin: 130px 0 30px 0;
}

.home-page__top-about-svg {
  position: absolute;
  top: 0;
  right: 0;
}

.home-page__bot-about-svg {
  position: absolute;
  bottom: 0;
  right: 0;
}

.home-page__block {
  position: relative;
}

.home-page__middle-about-svg {
  position: absolute;
  top: -100px;
  left: -45px;
  right: 0;
  width: 100vw;
}

.home-page__body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  svg {
    fill: var(--contrastText);
  }
}

.home-page__subtitle-wrapper {
  margin: 110px 0 10px 0;
}

.home-page__top-subtitle {
  text-align: center;
}

.home-page__activity-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &.right-block {
    padding-left: 110px;
  }
  &.left-block {
    padding-right: 110px;
  }
}

.home-page__subtitle-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-page__icon-wrapper {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.home-page__icon {
  width: 24px;
  height: 24px;
}

.activity-icon_dark {
  fill: var(--secondary-dark);
}

.activity-icon_main {
  fill: var(--secondary-main);
}

.home-page__block {
  .home-page__subtitle {
    word-break: break-word;
    line-height: 1.334;
  }
}